{% extends "layout.html" %}
{% block content %}
 <div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card" style="width:500px">
{#                    <img class="card-img-top" src="img_avatar1.png" alt="Card image">#}
                    <div class="card-body">
                        <h4 id="name" class="card-title"></h4>
                        <p id="email" class="card-text"></p>
                        <p id="userId" class="card-text"></p>
                        <a href="/logout" class="btn btn-primary">Logout</a>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
    <script>
    var profile = `{{profile | dump() | safe }}`;
    profile = JSON.parse(profile)  
    console.log(profile)   
    $(document).ready(function(){
        $("#name").append(`Name : ${profile.displayName}`);
        $("#email").append(`Email : ${profile.email}`);
        $("#userId").append(`ID : ${profile.id}`);
    }) 
    </script>
{% endblock %}
